.book-online-view-profile-buttons,
.-white-label-header-link,
.-white-label-header-logo,
.link-duo-item,
.hoverDiv {
	visibility: hidden;
}

.doctor-rating-comment {
	display: none;
}

.-white-label-header-logo {
	height: 40px;
}

.-rating {
    background-image: url(images/stars.png);
}

.profilePhoto a,
.docName a {
	cursor: default;
	color: #333 !important;
}
